{% extends "_layout" %}


{% block content %}


<h1>Check out our global partners.</h1>
<p>{{entry.body}}</p>

{#
<div>
<p>Username</p>
<input/>
<p>Password</p>
<input/>
<a href="#">Forgot password</a>
<a href="#">Become a distributor</a>
<button>Log in</button>
</div>
#}
{# craft map plugin here, see Treno #}

{% set options = {
    markerInfo: '_includes/infoBubble',
    height: 300,
    zoom: 4,
    draggable: true,
    markerOptions: {
        icon: 'https://maps.google.com/mapfiles/ms/icons/green-dot.png'
    },
    infoWindowOptions: {
        maxWidth: 200
    }

} %}


{{ craft.smartMap.map(craft.entries.section('distributors').find(), options) }}


{# see studentmedia advertising accordion, close to identical #}


<section class="section">
  <h2 class="subhead">Distributors</h2>
  {% set distributors = craft.entries.section('distributors') %}
	{% cache %}
	<div id="accordion">
  {% for distrib in distributors %}
    <div class="accordion">
    	<div class="link platform-dropdown">
				<h4 class = "advertising-platform-headers">{{distrib.title}}</h4>
			</div>
			<div class="submenu">
  				{% if distrib.body | length %}
  				    <p class="platform-content-container__description">{{distrib.body}}</p>
  				{% endif %}
				<div class = "platform-content-container">
          <div class = "platform-content">
            {% for image in distrib.logo %}
              <img src="{{image.url}}" alt="{{image.title}}">
            {% endfor %}
          <h2 class="platform-content-header">TEST HEADER</h2>
          <p class="platform-description">TEST DESCRIPTION</p>
				</div>
			</div>
		</div>
  </div>
	{#	{% endif %} #}
  {% endfor %}

	{% endcache %}
</section>


{% endblock %}
