{% extends "_layouts/main" %}

{% block content %}

<section class="distributors-map">
  <div class="h1-wrapper-top">
    <h1>Our Global Partners</h1>
  </div>

  <div class="distributors-map-body">
  {{ entry.body }}
  </div>

  {% set options = {
    markerInfo: '_includes/info-bubble',
    height: 300,
    zoom: 4,
    draggable: true,
    markerOptions: {
      icon: 'https://maps.google.com/mapfiles/ms/icons/green-dot.png'
    },
    infoWindowOptions: {
      maxWidth: 200
    },
  } %}

  {{ craft.smartMap.map(craft.entries.section('distributors').all(), options) }}
</section>

<section class="distributors-network">
  <div class="distributors-network-h1-wrapper">
    <h1>Our Distribution Network</h1>
  </div>

  {% set distributors = craft.entries.section('distributors') %}
  {% cache %}

  {% for distrib in distributors.all() %}
    <div class="distributors-accordion">
      <input type="radio" name="tabs">
      <label>{{ distrib.title }}</label>
      <div class="distributors-content">
        <img src="{{ distrib.logo.one().url }}" alt="{{ distrib.logo.one().title }}" class="distributors-img">
        {% if distrib.body|length %}
          <p>{{ distrib.body }}</p>
        {% endif %}
      </div>
    </div>
  {% endfor %}

  {% endcache %}
</section>

{% endblock %}

{% js %}

'use strict';

{# accordion toggle #}
$(".distributors-accordion label").on('click', function() {
	// toggle accordion content
	$(this).next().slideToggle('fast');

	// set checkbox to checked
	$(this).prev().prop('checked')
		? $(this).prev().prop('checked', false)
		: $(this).prev().prop('checked', true);

	// close other accordions' content
	$(".accordion-content").not($(this).next()).slideUp('fast');
});

{% endjs %}
