{% extends "_layouts/main" %}

{% block content %}
  <h2>Check out our global partners.</h2>

  {% set options = {
    markerInfo: '_includes/infoBubble',
    height: 300,
    zoom: 4,
    draggable: true,
    markerOptions: {
      icon: 'https://maps.google.com/mapfiles/ms/icons/green-dot.png'
    },
    infoWindowOptions: {
      maxWidth: 200
    },
  } %}

  {{ craft.smartMap.map(craft.entries.section('distributors').all(), options) }}

  <section id="distributors-network">
      <h1>Our Distribution Network</h1>
    {% set distributors = craft.entries.section('distributors') %}
    {% cache %}

    {% for distrib in distributors.all() %}
      <div class="accordion">
        <input type="radio" name="tabs">
        <label>{{ distrib.title }}</label>
        <div class="accordion-content">
          <img src="{{ distrib.logo.one().url }}" alt="{{ distrib.logo.one().title }}" class="accordion-image">
          {% if distrib.body|length %}
            <p>{{- distrib.body -}}</p>
          {% endif %}
        </div>
      </div>
    {% endfor %}

    {% endcache %}
  </section>

{% endblock %}

{% js %}

{# accordion toggle #}
$(".accordion label").on('click', function() {
	// toggle accordion content
	$(this).next().slideToggle('fast');

	// set checkbox to checked
	$(this).prev().prop('checked')
		? $(this).prev().prop('checked', false)
		: $(this).prev().prop('checked', true);

	// close other accordions' content
	$(".accordion-content").not($(this).next()).slideUp('fast');
});

{% endjs %}
