{% extends '_layouts/products' %}

{% block content %}

<div class="product-details">
  <div class="product-details-upper flex">
    <img id="product-img" src="{{ product.defaultImage.one().getUrl('productImage') }}" alt="{{ product.defaultImage.one().title }}" class="product-image">

    <div>
      <h1>{{ product.title }}</h1>

      <form method="POST" name="product-add-form" class="flex">
        <input type="hidden" name="action" value="commerce/cart/update-cart">
        {{ redirectInput('products/cart') }}
        {{ csrfInput() }}

        <div class="product-info-grid">
          <span>Product:</span>
          <select name="purchasableId" id="product-select" autofocus required>
            {% for variant in product.variants %}
              <option id="product-{{ variant.sku }}" value="{{ variant.id }}"{% if variant.stock <= 0 and variant.hasUnlimitedStock == false %} disabled{% endif %}>
                {{ variant.sku }}: {% if variant.viscosityGrade|length %} {{ variant.viscosityGrade }}{% endif %} ({{ (variant.size) }})
              </option>
            {% endfor %}
          </select>

          <span>Quantity:</span>
          <input id="product-quantity" type="number" name="qty" min="1" value="1" required>

          <span>Price: </span>
          <span id="product-price"></span>
        </div>

        <div class="product-add">
          <input type="submit" value="{{ "Add to cart"|t }}" class="button">
        </div>
      </form>
    </div>
  </div>

  <div class="product-description">
    {{ product.body }}

    {% set productCategories = craft.categories.group('productCategories').relatedTo(product) %}

    {% if productCategories|length %}
      <div>
        <h2>Categories</h2>

        {% for productCategory in productCategories.all() %}
          <a href="{{ productCategory.getUrl() }}">{{ productCategory.title }}</a>
          {% if not loop.last %}
            <span>, </span>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}

    {% set brands = craft.categories.group('brands').relatedTo(product) %}
    {% set foodGrades = craft.categories.group('foodGrades').relatedTo(product) %}

    {% if brands|length and foodGrades|length %}
      <div class="product-brands-grade flex">
        {% if brands|length %}
          <div>
            <h2>Brands</h2>

            {% for brand in brands.all() %}
              <span>{{ brand.title }}</span>
              {% if not loop.last %}
                <span>, </span>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}

        {% if foodGrades|length %}
          <div>
            <h2>Food Grade</h2>
            <span>{{ foodGrades.one().title }}</span>
          </div>
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>

{% endblock %}

{% js %}

{# get variants as array #}
{% set productVariants = [] %}
{% for variant in product.variants %}
  {% if variant.productImage|length %}
    {% set variantImgSrc = variant.productImage.one().getUrl('productImage') %}
  {% else %}
    {% set variantImgSrc = product.defaultImage.one().getUrl('productImage') %}
  {% endif %}
  {% set productVariants = productVariants|merge([[variant.sku, variant.price, variantImgSrc]]) %}
{% endfor %}
var productVariants = {{ productVariants|json_encode|raw }};
var productSelect = document.getElementById('product-select');
var productQuantity = document.getElementById('product-quantity');
var productPrice = document.getElementById('product-price');
var productImg = document.getElementById('product-img');
var selectedVariantId;

setSelectedVariantId();
updatePrice();
updateImgSrc();

productSelect.addEventListener('change', function() {
  setSelectedVariantId();
  updatePrice();
  updateImgSrc();
});

productQuantity.addEventListener('input', function() {
  setSelectedVariantId();
  updatePrice();
});

function setSelectedVariantId() {
  selectedVariantId = productSelect.options[productSelect.selectedIndex].id;
}

function updatePrice() {
  var variantPrice = productVariants.find(function(variant) {
    return selectedVariantId === ('product-' + variant[0]);
  })[1];
  productPrice.innerHTML = (productQuantity.value * parseFloat(variantPrice)).toLocaleString('en-US', {style:'currency', currency:'USD'});
}

function updateImgSrc() {
  productImg.src = productVariants.find(function(variant) {
    return selectedVariantId === ('product-' + variant[0]);
  })[2];
}

{% endjs %}
