{% extends '_layouts/products' %}

{% block content %}

<div class="product-details flex">
  {% if product.productImage|length %}
    <img src="{{ product.productImage.one().url }}" alt="{{ product.productImage.one().title }}" class="product-image">
  {% endif %}

  <div class="product-info">
    <h1>{{ product.title }}</h1>

    {{ product.body }}

    <form method="POST" name="product-add-form" class="flex">
      <input type="hidden" name="action" value="commerce/cart/update-cart">
      {{ redirectInput('products/cart') }}
      {{ csrfInput() }}

      <div class="product-info-grid">
        <span>Product:</span>
        <select name="purchasableId" id="product-select" autofocus required>
          {% for variant in product.variants %}
            <option id="product-{{ variant.sku }}" value="{{ variant.id }}"{% if variant.stock <= 0 and variant.hasUnlimitedStock == false %} disabled{% endif %}>
              {{ variant.sku }}: {{ product.title }}{% if variant.viscosityGrade|length %} {{ variant.viscosityGrade }}{% endif %} ({{ (variant.size) }})
            </option>
          {% endfor %}
        </select>

        <span>Quantity:</span>
        <input id="product-quantity" type="number" name="qty" min="1" value="1" required>

        <span>Price: </span>
        <span id="product-price"></span>
      </div>

      <div>
        <input type="submit" value="{{ "Add to cart"|t }}" class="button">
      </div>
    </form>

    {% set productCategories = craft.categories.group('productCategories').relatedTo(product) %}

    {% if productCategories|length %}
      <div>
        <h2>Categories</h2>

        {% for productCategory in productCategories.all() %}
          <a href="{{ productCategory.getUrl() }}">{{ productCategory.title }}</a>
          {% if not loop.last %}
            <span>, </span>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}

    {% set brands = craft.categories.group('brands').relatedTo(product) %}
    {% set foodGrades = craft.categories.group('foodGrades').relatedTo(product) %}

    {% if brands|length and foodGrades|length %}
      <div class="product-brands-grade flex">
        {% if brands|length %}
          <div>
            <h2>Brands</h2>

            {% for brand in brands.all() %}
              <span>{{ brand.title }}</span>
              {% if not loop.last %}
                <span>, </span>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}

        {% if foodGrades|length %}
          <div>
            <h2>Food Grade</h2>
            <span>{{ foodGrades.one().title }}</span>
          </div>
        {% endif %}
      </div>
    {% endif %}

  </div>
</div>

{% endblock %}

{% js %}

{# get variants as array #}
{% set productVariants = [] %}
{% for variant in product.variants %}
  {% set productVariants = productVariants|merge([[variant.sku, variant.price]]) %}
{% endfor %}
var productVariants = {{ productVariants|json_encode|raw }};
var productSelect = document.getElementById('product-select');
var productQuantity = document.getElementById('product-quantity');

updatePrice();

productSelect.addEventListener('change', updatePrice);
productQuantity.addEventListener('change', updatePrice);

function updatePrice() {
  var selectedId = productSelect.options[productSelect.selectedIndex].id;
  var variantPrice = productVariants.find(function(variant) {
    return selectedId === ('product-' + variant[0]);
  })[1];
  document.getElementById('product-price').innerHTML = (productQuantity.value * parseFloat(variantPrice)).toLocaleString('en-US', {style:'currency', currency:'USD'});
}

{% endjs %}
