{% extends '_layouts/products' %}

{% block content %}

{% include '_includes/featured-products.twig' %}

<div class="products-categories-container">
  <div class="h1-wrapper-bottom">
    <h1>Popular Categories</h1>
  </div>

  <div class="products-categories">

    {% for category in craft.categories.group('productCategories').limit(8).all() %}
      <a href="{{ category.url }}">
        <img src="{{ category.productImage.one().getUrl() }}">
        <h3 class="products-category-title">{{ category.title }}</h3>
        <p>Learn More</p>
      </a>
    {% endfor %}

    <a class="products-category-all" href="{{ url('products/all') }}">
      <img src="{{ url('assets/img/feature-images/ViewAllProducts-Icon-07.png') }}">
      <h3 class="products-category-title">View All Products</h3>
      <p>Learn More</p>
    </a>
  </div>
</div>

{% endblock %}
