{% extends "_layout" %}

{% block content %}
  <p>{{ entry.body }}</p>

  <div id="products-featured">
    <h2>Featured Products</h2>

    <ul>
      {% for entry in craft.entries.section('products').all() %}
        <li>
          <a href="{{ entry.url }}">{{ entry.title }}
            <img src="{{ entry.productImage.one().url }}">
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div id="products-categories">
    <h2>Product Categories</h2>

    <ul class="flex-container">
      {% for category in craft.categories.group('productCategories').all() %}
        <li>
          <a href="{{ category.url }}">{{ category.title }}
            {# <img src="{{ category.image.one().url }}"> #}
          </a>
        </li>
      {% endfor %}

      <li>
        <a href="{# TODO #}">View All Products</a>
      </li>
    </ul>
  </div>

  <div id="products-find">
    <h2>Find Your Perfect Product</h3>

    <ul>
      <li><a href="{# TODO #}">Request Quote</a></li>
      <li><a href="{# TODO #}">Request Assistance</a></li>
      <li><a href="{# TODO #}">Product Finder</a></li>
    </ul>
  </div>
{% endblock %}
