{% extends "_layout" %}

{% block content %}
  <p>{{ entry.body }}</p>

  <div id="products-featured">
    <h2>Featured Products</h2>

      <div>
        <ul>
        {% for product in craft.products.type('clothing').all() %}
            <li>
              {% if product.featuredProduct %}
              {% for image in product.productImage.all() %}
                  <img src="{{ image.url }}"alt="{{ image.title }}">
              {% endfor %}
              <a href="{{ product.url }}"><h1>{{ product.title }}</h1></a>
            </li>
            {% endif %}
        {% endfor %}

      </div>
  </div>

  <div class="popular-products">
    <h2>Popular Product Categories</h2>
    <div class="row">
      {% for category in craft.categories.group('productCategories').all() %}
		  <div class="col">
			  <a href="#"><img src="{{ category.image }}"/></a> {# image needs fixed so it appears #}
  			<h4 class="product-title">{{ category.title }}</h4>
  			<a href="{{ category.url }}" class="learn-more-product">Learn More</a>
		  </div>
      {% endfor %}

      <li>
        <a href="/shop">View All Products</a>
      </li>
    </ul>
    </div>
  </div>

  <div id="products-find">
    <h2>Find Your Perfect Product</h2>
      <div id="find-container">
        <ul>
          <li><a href="/contact">Request Quote</a></li>
          <li><a href="/contact">Request Assistance</a></li>
          <li><a href="{# TODO #}">Product Finder</a></li>
        </ul>
      </div>
  </div>
{% endblock %}
