
{% set headerImg = header.logo.one().getUrl() %}
<img src="{{headerImg}}"/>


{% set featureImg = entry.featureImage.one().getUrl() %}

<img src="{{featureImg}}"/>

<h1>{{entry.title}}</h1>


<h3>{{entry.subtitle}}</h3>

<p>{{entry.body}}</p>
