{# news and blog page #}
{% extends "_layouts/main" %}

{% block content %}

<section>
  <div class="h1-wrapper-top">
    <h1>Latest News</h1>
  </div>
  <p class="news-blog-desc">Read our latest news articles regarding our products, recent publications, and sponsorships below:</p>

  <div class="news-blog-grid">
    {% for entry in craft.entries.section('news').limit(3).all() %}
      <div class="news-blog-grid-item">
        <a href="{{ entry.url }}">
          <img src="{{ entry.featureImage.one().getUrl("newsFeatureImage") }}">

          <h2>{{ entry.title }}</h2>
        </a>

        {% if entry.description|length %} {# TODO: fix slice #}
          {% if entry.description|length > 50 %}
            <p>{{ entry.description|slice(0,50) }}</p>
          {% else %}
            <p>{{ entry.description }}</p>
          {% endif %}
        {% endif %}
      </div>
    {% endfor %}
  </div>

  <div class="news-blog-link news-blog-news-link">
    <a href="{{ url('news') }}">View All News</a>
    <div class="news-blog-poly"></div>
  </div>
</section>

<section>
  <div class="h1-wrapper-top">
    <h1>Blog Posts</h1>
  </div>
  <p class="news-blog-desc">Check out the latest blog posts regarding content ranging from videos on how to use our products to informational updates about the company.</p>

  <div class="news-blog-grid">
    {% for entry in craft.entries.section('blog').limit(3).all() %}
      <div class="news-blog-grid-item">
        <a href="{{ entry.url }}">
          <img src="{{ entry.featureImage.one().getUrl("newsFeatureImage") }}">

          <h2>{{ entry.title }}</h2>
        </a>

        {% if entry.description|length %} {# TODO: fix slice #}
          {% if entry.description|length > 50 %}
            <p>{{ entry.description|slice(0,50) }}</p>
          {% else %}
            <p>{{ entry.description }}</p>
          {% endif %}
        {% endif %}
      </div>
    {% endfor %}
  </div>

  <div class="news-blog-link">
    <a href="{{ url('blog') }}">View All Blog Posts</a>
    <div class="news-blog-poly"></div>
  </div>
</section>
{% endblock %}
