{% extends "_layouts/main" %}

{% block content %}

<section class="news">
  <div class="h1-wrapper-top">
    <h1>Blog</h1>
  </div>

  {% for blogPost in craft.entries.section('blog').all() %}
    <div class="news-item">
      <a href="{{ blogPost.url }}">
        <div><img src="{{ blogPost.featureImage.one().getUrl("newsFeatureImage") }}"></div>

        <div class="news-item-text">
          <h2>{{ blogPost.title }}</h2>

          {% if blogPost.description|length %}
            {% if blogPost.description|length > 50 %} {# TODO: fix slice #}
              <p>{{ blogPost.description|slice(0,50) }}</p>]
            {% else %}
              <p>{{ blogPost.description }}</p>
            {% endif %}
          {% endif %}
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}
