{% extends "_layouts/main" %}

{% block content %}
  <div id="products-featured">
    <h1>Featured Products</h1>

      <div>
        <ul class="flex">
          {% for product in craft.products.type('clothing').all() %}
            {% if product.featuredProduct %}
              <li>
                <a href="{{ product.url }}" class="flex">
                  <img src="{{ product.productImage.one().getUrl() }}"alt="{{ product.productImage.one().title }}">
                  {{- product.title -}}
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
  </div>

  <div class="popular-products">
    <h2>Popular Product Categories</h2>
    <div class="row">

      {% for category in craft.categories.group('productCategories').all() %}
        <div class="col">

          <a href="{{ category.url }}"><img src="{{ category.productImage.one().getUrl() }}"></a>

          <h4 class="product-title">{{ category.title }}</h4>
          <a href="{{ category.url }}" class="learn-more-product">Learn More</a>
        </div>
      {% endfor %}

    </div>
  </div>

  <div id="products-find">
    <h2>Find Your Perfect Product</h2>
      <div id="find-container">
        <ul>
          <li><a href="/contact">Request Quote</a></li>
          <li><a href="/contact">Request Assistance</a></li>
          <li><a href="{# TODO #}">Product Finder</a></li>
        </ul>
      </div>
  </div>
{% endblock %}
