{% extends "_layouts/main" %}

{% block content %}
  {% include '_includes/featured-products.twig' %}

  <div id="products-popular-categories">
    <h1>Popular Product Categories</h1>
    <div class="flex">

      {% for category in craft.categories.group('productCategories').limit(8).all() %}
        <a href="{{ category.url }}">
          <img src="{{ category.productImage.one().getUrl() }}">
          <h4 class="product-title">{{ category.title }}</h4>
          <p>Learn More</p>
        </a>
      {% endfor %}

      <a href="{{ url('shop/products') }}">
        <img src="{{ url('assets/img/feature-images/ViewAllProducts-Icon-07.png') }}">
        <h4 class="product-title">View All Products</h4>
        <p>Learn More</p>
      </a>

    </div>
  </div>

  <div id="products-find">
    <h2>Find Your Perfect Product</h2>

    <div id="find-container">
      <ul>
        <li><a href="/contact">Request Quote</a></li>
        <li><a href="/contact">Request Assistance</a></li>
        <li><a href="{# TODO #}">Product Finder</a></li>
      </ul>
    </div>
  </div>
{% endblock %}
