{% extends "_layouts/main" %}

{% block content %}

<section class="news">
  <div class="h1-wrapper-top">
    <h1>News</h1>
  </div>

  {% for newsArticle in craft.entries.section('news').all() %}
    <div class="news-item">
      <a href="{{ newsArticle.url }}">
        <div><img src="{{ newsArticle.featureImage.one().getUrl("newsFeatureImage") }}"></div>

        <div class="news-item-text">
          <h2>{{ newsArticle.title }}</h2>

          {% if newsArticle.description|length %}
            {% if newsArticle.description|length > 50 %} {# TODO: fix slice #}
              <p>{{ newsArticle.description|slice(0,50) }}</p>
            {% else %}
              <p>{{ newsArticle.description }}</p>
            {% endif %}
          {% endif %}
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}
