{% extends "_layouts/main" %}

{% block content %}

<section class="news">
  <div class="h1-wrapper-top">
    <h1>News</h1>
  </div>

  {% set query = craft.entries.section('news').limit(10) %}
  {% paginate query as newsPage, newsEntries %}

  <div class="news-list">
    {% for entry in newsEntries %}
      <div class="news-item flex">
        <a href="{{ entry.url }}">
          <img src="{{ entry.featureImage.one().getUrl() }}">
        </a>

        <a href="{{ entry.url }}">
          <h2>{{ entry.title }}</h2>

          {% if entry.description|length %}
            <p>{{ entry.description }}</p>
          {% endif %}
        </a>
      </div>
    {% endfor %}
  </div>

  <div class="news-pagination">
    <a href="{{ newsPage.firstUrl }}">
      <button class="button"{% if craft.app.request.absoluteUrl == newsPage.firstUrl %} disabled{% endif %}>First</button>
    </a>
    <a href="{{ newsPage.prevUrl }}">
      <button class="button"{% if not newsPage.prevUrl %} disabled{% endif %}>Previous</button>
    </a>
    <span>
      <button class="button" disabled>{{ newsPage.currentPage }}</button>
    </span>
    <a href="{{ newsPage.nextUrl }}">
      <button class="button"{% if not newsPage.nextUrl %} disabled{% endif %}>Next</button>
    </a>
    <a href="{{ newsPage.lastUrl }}">
      <button class="button"{% if craft.app.request.absoluteUrl == newsPage.lastUrl %} disabled{% endif %}>Last</button>
    </a>
  </div>
</section>

{% endblock %}
