{% extends "_layouts/main" %}

{% block content %}

<section class="news">
  <div class="h1-wrapper-top">
    <h1>News</h1>
  </div>

  <div class="news-item-container">
    {% for entry in craft.entries.section('news').all() %}
      <div class="news-item">
        <a href="{{ entry.url }}">
          {% if entry.featureImage|length %}
            <img src="{{ entry.featureImage.one().getUrl("newsFeatureImage") }}">
          {% endif %}

          <h2>{{ entry.title }}</h2>

          {% if entry.description|length %}
            {% if entry.description|length > 50 %} {# TODO: fix slice #}
              <p>{{ entry.description|slice(0,50) }}</p>
            {% else %}
              <p>{{ entry.description }}</p>
            {% endif %}
          {% endif %}
        </a>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
