{# homepage #}

{% extends "_layout" %}

{% block content %}
  {{ entry.body }}

<div id="featured-products">
  <h1>Featured Products</h1>
  <hr>

<h1>Hi</h1>

  {% for product in craft.products.type('clothing').all() %}
      {% if product.featuredProduct %}
        {% for image in product.productImage.all() %}
            <img src="{{ image.url }}"alt="{{ image.title }}">
        {% endfor %}
        <a href="{{ product.url }}"><h1>{{ product.title }}</h1></a>
      {% endif %}
  {% endfor %}
</div>

<div id="testimonials">
  <h1> Testimonials </h1>
  <hr>

    {% for testimonial in craft.entries.section('testimonials').all() %}
    <div id="testimonial">
      <ul>
        <li>{{ testimonial.testimonialBody }}</li>
        <li><p>{{ testimonial.testimonialAuthor }}</p></li>
        <li><p>{{ testimonial.authorDescription }}</p></li>
      </ul>
    </div>
    {% endfor %}
</div>

{% endblock %}
