{# homepage #}

{% extends "_layouts/main" %}

{% block content %}

<div class="home-feature">
  {# feature image #}
  <img class="feature-img" src="{{ entry.featureImage.one().getUrl('featureImg') }}">

  {# request a quote button #}
  <div class="request-a-quote-wrapper">
    <a class="request-a-quote" href="{{ url('contact') }}">
      <span>Request a Quote</span>
    </a>
  </div>
</div>

<div class="home-body">
  <h1>Biodegradable<span class="home-title-span"> | </span><br class="home-title-br">High Performance<span class="home-title-span"> | </span><br class="home-title-br">Sustainable</h1>

  {{ entry.body }}
</div>

{# featured products #}
{% include '_includes/featured-products.twig' %}

{# testimonials #}
{% if craft.entries.section('testimonials')|length > 2 %}
  <section class="testimonials">
    <div class="h1-wrapper-bottom">
      <h1>Testimonials</h1>
    </div>
    <div class="testimonials-container">
      {% for testimonial in craft.entries.section('testimonials').orderBy('RAND()').limit(3).all() %}

        <div class="testimonial">
          <img src="{{ testimonial.productImage.one().getUrl('testimonialImage') }}" alt="{{ testimonial.productImage.one().title }}">

          <div class="testimonial-text-wrapper">
            <div class="testimonial-text">
              <p class="testimonial-quote">"{{ testimonial.quote }}"</p>
              <p class="testimonial-author">– {{ testimonial.testimonialAuthor }}</p>
              <p class="testimonial-company">{{ testimonial.authorDescription }}</p>
            </div>
          </div>
        </div>

      {% endfor %}
    </div>
  </section>
{% endif %}

{% endblock %}
