{# homepage #}

{% extends "_layouts/main" %}

{% block content %}

{% include '_includes/featured-products.twig' %}

<section id="testimonials">
  <div class="flex">
    <h1>Testimonials</h1>
  </div>
  <div id="testimonial-wrapper">
    {% for testimonial in craft.entries.section('testimonials').limit(3).all() %}

      <a href="{{ testimonial.url }}">
        <img src="{{ testimonial.productImage.one().getUrl("testimonialImage") }}" alt="{{ testimonial.productImage.one().title }}">

        <div class="testimonial-text">
          <p>"{{ testimonial.quote }}"</p>
          <p class="p-author">– {{ testimonial.testimonialAuthor }}</p>
          <p>{{ testimonial.authorDescription }}</p>
        </div>
      </a>

    {% endfor %}
  </div>
</section>

{% endblock %}
