{% extends '_layouts/shop' %}

{% block content %}

<div class="product-container">
  <div class="product-details flex">
    {% if product.productImage|length %}
      <img src="{{ product.productImage.one().url }}" alt="{{ product.productImage.one().title }}" class="product-image">
    {% endif %}

    <div class="product-info">
      <h1>{{ product.title }}</h1>
      {{ product.body }}
    </div>
  </div>

  <form method="POST" name="product-add-form" class="flex">
    <input type="hidden" name="action" value="commerce/cart/update-cart">
    {{ redirectInput('shop/cart') }}
    {{ csrfInput() }}

    <div>
      <div class="product-opts">
        <span>Product:</span>
        <select name="purchasableId" id="product-select">
          {% for variant in product.variants %}
            <option {% if variant.stock <= 0 and variant.hasUnlimitedStock == false %}disabled {% endif %}value="{{ variant.id }}">{{ variant.sku }}: {{ variant.description }}{% if variant.viscosityGrade|length %} {{ variant.viscosityGrade }}{% endif %} ({{ variant.size }})</option>
          {% endfor %}
        </select>
      </div>

      <div class="product-opts">
        <span>Quantity:</span>
        <input type="number" name="qty" min="1" value="1" required>
      </div>

      <input type="submit" value="{{ "Add to cart"|t }}" class="button">
    </div>
  </form>
</div>

{% endblock %}
