{% extends '_layouts/products' %}

{% block content %}

<div class="category-h1">
  <h1>{{ category.title }}</h1>
</div>

<div class="category-container">
  {% if craft.products.relatedTo(category)|length %}
    {% for product in craft.products.relatedTo(category).all() %}
      {% set cheapestVariant = product.variants[0] %}

      {% for variant in product.variants %}
        {% if variant.price < cheapestVariant.price %}
          {% set cheapestVariant = variant %}
        {% endif %}
      {% endfor %}

      <a class="category-product" href="{{ product.url }}">
        <div class="category-image">
          <img src="{{ product.productImage.one().getUrl('productImage') }}" alt="{{ product.productImage.one().title }}">
        </div>
        <div class="category-text">
          <p>{{ product.title }}</p>
          <p>Starting at <span>${{ cheapestVariant.price|number_format(2, '.', ',') }}</span></p>
        </div>
      </a>
    {% endfor %}
  {% else %}
    <p class="category-empty">There are no products in this category.</p>
  {% endif %}
</div>

{% endblock %}
